@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Fira+Code:wght@300&family=Fira+Mono&family=Montserrat:wght@100&display=swap');


body {
    text-align: center;
    margin: auto;
    background-color: rgba(28,28,28);
}

.card p {
    font-size: 15px;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
}

#keyWordInput[type=text] {
    width: 100%;
    height: 50px;
    font-size: 43px;
    background-color: rgba(45, 45 ,45 );
    color: rgba(108, 108, 108); 
    font-family: 'Darker Grotesque', sans-serif;
}

#keyWordInput[type=text]:focus, textarea:focus  {
    outline: none; 
}

::placeholder{
    color: rgba(108, 108, 108); 
    font-family: 'Darker Grotesque', sans-serif;
}

.logo-column {
    height: 30px;
    width: auto;
    padding-left: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.column {
    flex: 1;
}

.cards {
    height: 1200px; 
    overflow-y: scroll;
}

.card {
    flex: 1;
    /* border: solid rgba(108, 108, 108)  1px; */
    min-height: 300px;
    text-align: left;
}

.card img {
    width: 80%;
    max-height: 400px;
    object-fit: cover;
}

.card .giphy img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.card.twitter {

}

.card.giphy {

}

.goodReads img {
    width: 100px;
    height: auto; 
}

a {
    text-decoration: none;
}

.card {
    padding: 10px; 
    
}

.buttons {
    display: flex; 
    height: 30px; 
    justify-content: flex-end;
  
    padding-right: 5px;
}

.button {
    border: none; 
    display: flex;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 2px; 
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.open {
    background-color: rgb(103, 191, 56);   
}

.closed {
    background-color: red; 
}

#hide {
    display: none; 
}

.header {
    display: flex; 
    justify-content: space-between;
    margin: 4px;
}

.tick-boxes {
    display:flex; 
    justify-content: space-evenly;
    font-family: 'Darker Grotesque', sans-serif;
    color:  rgba(108, 108, 108); 
    font-size: 20px;
    margin: 20px 0; 
}




/**
Imported fonts to try out for styling 

font-family: 'Darker Grotesque', sans-serif;
font-family: 'Fira Code', monospace;
font-family: 'Fira Mono', monospace;
font-family: 'Montserrat', sans-serif;
*/