@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Fira+Code:wght@300&family=Fira+Mono&family=Montserrat:wght@100&display=swap");

body {
    text-align: center;
    margin: auto;
    background-color: rgba(28, 28, 28);
}

body * {
    font-family: "Darker Grotesque", sans-serif;
}

/*********** Search Bar ***************/

#keyWordInput[type="text"] {
    width: 100%;
    height: 50px;
    font-size: 43px;
    background-color: rgba(45, 45, 45);
    color: rgba(108, 108, 108);
}

#keyWordInput[type="text"]:focus,
textarea:focus {
    outline: none;
}

::placeholder {
    color: rgba(108, 108, 108);
}

/*************** Column *******************/

.logo-column {
    height: 40px;
    width: auto;
    margin: 10px 0;
}

.logo-grid {
    height: 45px;
    width: auto;
    margin: 10px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.column {
    flex: 1;
}

#hide {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    margin: 4px;
}


/************* Card  ************/

.cards {
    height: 1200px;
    overflow-y: scroll;
}

.card {
    flex: 1;
    border-bottom: solid rgba(108, 108, 108) 1px;
    box-shadow: 2px 2px 2px 1px rgba(240, 239, 239, 0.2);
    padding: 10px;
    width: 100%;
}

.card img {
    width: 95%;
    max-height: 400px;
    object-fit: cover;
}

#giphy img {
    width: 95%;
    height: auto;
}

.goodReads img {
    width: 100px;
    height: auto;
    align-self: center;
}

a {
    text-decoration: none;
}

.name {
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.body {
    color: rgb(198, 198, 198);
    font-size: 19px;
    text-align: justify;
    width: 90%;
    padding: 20px;
}

.created-at {
    color: rgb(172, 198, 159);
    font-size: 15px;
}

#twitter-profile-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px white solid;
    float: left;
    margin-left: 20px;
}

#goodReads .body {
    text-align: center;
}
/*********** Grid *****************/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: top;
    width: auto;
}

/**
Imported fonts to try out for styling 

font-family: 'Darker Grotesque', sans-serif;
font-family: 'Fira Code', monospace;
font-family: 'Fira Mono', monospace;
font-family: 'Montserrat', sans-serif;
*/
